# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.o

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST


/TODO
/result
/trajsimi_dataset.tar.gz
/trajsimi_snapshot.tar.gz

/data/**
/core_cpu/*.c
/exp/log/**
/exp/slurm_log/**
/exp/snapshot/**
/exp/script/core
/query/cpp/core
/query/cpp/result
/query/cpp/knnquery_exp
/query/cpp/test

/.vscode/**

!.gitkeep
